<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.adriantoine.alfred-asana</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>66B2EE85-158F-47D7-9753-A079378283D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0289A24-1DDA-428C-AFF9-9246EB624232</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C13785E4-AEBA-4F44-99BF-1E0BF1B4509D</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy and paste URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Adrien Antoine</string>
	<key>description</key>
	<string>Asana search for Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Asana</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>asana</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Asana search for Alfred</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>66B2EE85-158F-47D7-9753-A079378283D5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://app.asana.com/0/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A0289A24-1DDA-428C-AFF9-9246EB624232</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>https://app.asana.com/0/{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C13785E4-AEBA-4F44-99BF-1E0BF1B4509D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>66B2EE85-158F-47D7-9753-A079378283D5</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>A0289A24-1DDA-428C-AFF9-9246EB624232</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>C13785E4-AEBA-4F44-99BF-1E0BF1B4509D</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>ACCESS_TOKEN</key>
		<string>&lt;Your personal access token&gt;</string>
		<key>WORKSPACE_ID</key>
		<string>&lt;Your workspace ID&gt;</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>http://adriantoine.com</string>
</dict>
</plist>
